html {
    font-family: 微軟正黑體;
}

body {
    display       : flex;
    flex-direction: column;
}

.navbar {
    box-shadow: -1.4px -1.4px 6px 0px #97a2a0;
    margin    : 0;
}

.navbar .wrapper {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 84px;
    background     : white;
    padding        : 0px 20px;

}

.site-name {
    color     : #489846;
    font-size : 36px;
    margin-top: 5px;
}

.navbar_list {
    list-style: none;
    margin    : 0;
    padding   : 0;
    display   : flex;
    font-size : 18px;
}

.navbar_list li {
    margin-left  : 12px;
    border-radius: 8px;
    transition   : background 0.2s ease-in-out;
}

.navbar_list li.active,
.navbar_list li:hover {
    background: #ff7286;
}

.navbar_list li.active a,
.navbar_list li:hover a {
    color: white;
}

.navbar_list li a {
    display        : block;
    text-decoration: none;
    color          : black;
    padding        : 12px 24px;
}

.wrapper {
    margin : 0 auto;
    padding: 0px 12px;
}

.section {
    background-size  : cover center;
    background-repeat: no-repeat;
}

.section .bg {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    background     : url(games-bn.png) center/cover no-repeat;
    max-width      : 100%;
}

.lucky_block {
    max-width    : 500px;
    border-radius: 16px;
    margin-top   : 55px;
    margin-bottom: 152px;
    padding      : 40px 20px 24px 20px;
}

.lucky_bg {
    background: white;
}

.lucky_title {
    font-size : 24px;
    color     : #5ec1b6;
    text-align: center;
}

.lucky_msg {
    margin-top   : 44px;
    margin-bottom: 58px;
}

.activity {
    display       : flex;
    flex-direction: row;
}

.activity_title {
    max-width   : 92px;
    max-height  : 18px;
    font-size   : 18px;
    font-weight : bold;
    color       : #322929;
    margin-right: 5px
}

.activity_desc {
    max-width: 320px;
    font-size: 16px;
    color    : #322929;
}

.lucky_btn {
    width           : 400px;
    max-height      : 55px;
    border-radius   : 8px;
    background-color: #e62a45;
    text-align      : center;
    margin          : 25px auto;
    color           : white;
    line-height     : 55px;
    cursor          : pointer;
    visibility      : visible;
}

.lucky_btn:active {
    transform: scale(1.02);
}

footer {
    margin-top: 48px;
}

.footer_bottom {
    background: #35564b;
    padding   : 12px;
    text-align: center;
    color     : white;
    font-size : 16px;
    padding   : 12px;
}

.footer_top {
    background: #e8efee;
    padding   : 32px;
    color     : #484848;
}

.footer_top .wrapper {
    display        : flex;
    justify-content: space-between;
}

.footer_info {
    margin-right: 16px;
}

.footer_info div+div {
    margin-top: 10px;
}

@media(max-width: 768px) {
    .navbar .wrapper {
        height         : 120px;
        flex-direction : column;
        justify-content: space-between;
        padding        : 0px;
    }

    .navbar_site-name {
        margin-top: 15px;
    }

    .navbar_list {
        display        : flex;
        justify-content: center;
        width          : 100%;
        font-size      : 16px;
    }

    .faq {
        width : 90%;
        margin: 0;
    }

    .section_title {
        font-size    : 30px;
        border-left  : solid 15px #a3dea2;
        padding-left : 16px;
        margin-bottom: 16px;
        margin-top   : 20px;
    }

    .footer_top .wrapper {
        flex-direction: column-reverse;
    }

    .footer_info {
        margin-right: 0;
        margin-top  : 16px;
    }
}

@media(max-width: 538px) {
    .navbar_list li {
        margin-left  : 0;
        border-radius: 0;
        text-align   : center;
    }

    .navbar_list {
        display        : flex;
        justify-content: center;
        width          : 100%;
    }

    .navbar_list li a {
        padding: 12px 33px;
    }
}

@media(max-width: 450px) {
    .activity {
        flex-direction: column;
    }

}


@media(max-width: 375px) {

    .navbar_list li a {
        padding: 12px 23px;
    }

}